@import 'foundation'

body
  min-width: 320px

$colorBlack: #333
$pageBackground: #00aeef

body
  background: $pageBackground
  color: $colorBlack
  font-family: "Neue Helvetica W01", "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif

%large-font
  font-size: em-calc(48px)
  font-weight: 100
  letter-spacing: 0.07em
  line-height: 1.25em

  @media #{$small-only}
    font-size: em-calc(24px)
    font-weight: 200
    line-height: 1.67em

%small-font
  font-size: em-calc(16px)
  line-height: 1.875em
  letter-spacing: 0.07em

  @media #{$small-only}
    font-size: em-calc(13px)
    line-height: 1.54em

%small-block
  border: 3px solid #fff

%image-logo
  background-image: url('../images/logo.png')
  background-repeat: no-repeat
  background-size: 235px 55px

  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
    background-image: url('../images/big/logo.png')

%image-eye
  background-image: url('../images/eye.png')
  background-repeat: no-repeat
  background-size: 30px 60px

  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
    background-image: url('../images/big/eye.png')

%image-phone
  background-image: url('../images/phone.png')
  background-repeat: no-repeat
  background-size: 30px 60px

  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
    background-image: url('../images/big/phone.png')

%image-play
  background-image: url('../images/play.png')
  background-repeat: no-repeat
  background-size: 30px 60px

  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
    background-image: url('../images/big/play.png')

.page-florence
  .header-block
    background-image: url('../images/florence1.jpg')
    background-position: 50% 0
    background-repeat: repeat-x
    background-size: cover
    height: 800px
    position: relative

    @media #{$small-only}
      height: 650px

    .logo-wrapper
      @extend %small-font
      margin: 3.5em 0 0 0
      padding: 0

      @media #{$small-only}
        margin-top: 2em

      .logo
        @extend %image-logo
        background-position: 0 0
        display: block
        height: 55px
        margin: -10px auto 0 auto
        overflow: hidden
        text-indent: -9999px
        width: 235px

    .logo-description
      @extend %small-font
      color: #fff
      margin: 3em 0 0 0
      text-decoration: bold

      @media #{$small-only}
        font-size: em-calc(13px)
        line-height: 1.5em
        margin-top: 2em
        text-align: center

      .logo-description-text
        font-size: em-calc(20px)
        line-height: 1.25em
        text-shadow: 0 0px 5px rgba(0, 113, 155, 1)

    .title
      @extend %large-font
      color: #fff
      font-weight: bold
      height: (1.25em * 3)
      margin-top: 160px
      text-align: center
      text-shadow: 0 0px 20px rgba(0, 0, 0, 1)

      @media #{$small-only}
        $lineHeight: 1.3em
        height: ($lineHeight * 3)
        line-height: $lineHeight
        margin-bottom: 0
        margin-top: 100px

    .custom-button-wrapper
      .custom-button
        background: #00aeef
        border-radius: 25px
        color: #fff
        cursor: pointer
        display: inline-block
        font-size: em-calc(20px)
        font-weight: 200
        letter-spacing: 0.07em
        line-height: 37px
        padding: 3px 20px 5px 10px
        text-align: left
        width: 230px

        &:before
          content: ""
          display: inline-block
          margin-top: 4px
          vertical-align: top
          width: 45px

      &.app-button
        text-align: right

        .custom-button
          &:before
            @extend %image-play
            background-position: 0 0
            height: 30px

          &:hover
            color: $colorBlack

            &:before
              background-position: 0 -30px

      &.preview-button
        text-align: left

        .custom-button
          &:before
            @extend %image-play
            background-position: 0 0
            height: 30px

          &:hover
            color: $colorBlack

            &:before
              background-position: 0 -30px

      @media #{$small-only}
        padding: 20px 0 0 0

        .custom-button
          font-size: em-calc(18px)

        &.app-button, &.preview-button
          text-align: center

    .small-block-wrapper
      bottom: 0
      left: 0
      position: absolute
      right: 0
      background-color: #fff // fallback
      background-color: rgba(255, 255, 255, 0.85)

      .small-block
        @extend %small-font
        border: none
        line-height: 1.7em
        padding: 1em 0
        text-align: center

        .nowrap
          white-space: nowrap

      @media #{$small-only}
        .small-block
          padding: 0.5em 1em

  .app-block
    background-color: #949494
    background-image: url('../images/florence2.jpg')
    background-position: 50% 50%
    background-repeat: repeat-x
    background-size: cover
    height: 800px
    position: relative

    @media #{$small-only}
      background-position: 50% 0
      height: 650px

    .title
      @extend %large-font
      color: #fff
      font-weight: bold
      height: (1.25em * 3)
      margin-top: 225px
      text-align: center
      text-shadow: 0 0px 6px rgba(0, 0, 0, 0.3)

      @media #{$small-only}
        $lineHeight: 1.3em
        height: ($lineHeight * 3)
        line-height: $lineHeight
        margin-bottom: 0
        margin-top: 135px

    .custom-button-wrapper
      .custom-button
        background: #00aeef
        border-radius: 25px
        color: #fff
        display: inline-block
        font-size: em-calc(20px)
        font-weight: 200
        letter-spacing: 0.07em
        line-height: 37px
        padding: 3px 20px 5px 10px
        text-align: left
        width: 250px

        &:before
          content: ""
          display: inline-block
          margin-left: 3px
          margin-top: 4px
          vertical-align: top
          width: 42px

      &.app-button
        text-align: right

        .custom-button
          &:before
            @extend %image-phone
            background-position: 0 0
            height: 30px

          &:hover
            color: $colorBlack

            &:before
              background-position: 0 -30px

      &.preview-button
        text-align: left

        .custom-button
          &:before
            @extend %image-eye
            background-position: 0 0
            height: 30px

          &:hover
            color: $colorBlack

            &:before
              background-position: 0 -30px

      @media #{$small-only}
        padding: 20px 0 0 0

        .custom-button
          font-size: em-calc(18px)

        &.app-button, &.preview-button
          text-align: center

    .small-block-wrapper
      bottom: 0
      left: 0
      position: absolute
      right: 0
      background-color: #fff // fallback
      background-color: rgba(255, 255, 255, 0.85)

      .small-block
        @extend %small-font
        border: none
        line-height: 1.7em
        padding: 1em 0

      @media #{$small-only}
        .small-block
          padding: 0.5em 1em

  .schedule-block
    padding: 6em 0

    @media #{$small-only}
      padding: 2em 0 2em 0

    .title
      @extend %large-font
      color: #fff
      font-weight: normal
      margin: 0
      text-align: center

    .day-title
      color: #fff
      font-size: em-calc(24px)
      font-weight: normal
      line-height: 1.25em
      margin: 2em 0 0 0

      @media #{$small-only}
        font-size: em-calc(18px)

    .event
      @extend %small-font
      margin: 2em 0 0 0

      .event-title
        color: #fff

      .event-text
        font-weight: bold

      .event-description
        font-style: italic

  // From Hong Kong with love
  .about-block
    background: #fff
    border-bottom: 2px solid #e8e8e8

  .hiw-block
    background: #fff

  .about-block,
  .hiw-block
    padding-bottom: 90px

    @media #{$small-only}
      padding-bottom: 50px

    .title
      @extend %large-font
      font-weight: normal
      margin-bottom: 0
      margin-top: 60px
      text-align: center

      @media #{$small-only}
        margin-top: 30px

    .image
      background-position: 50% 0
      background-repeat: no-repeat
      height: 120px
      margin-top: 30px
      width: 100%

      @media #{$small-only}
        margin-top: 20px

      &.image-audio-guide
        background-image: url('../images/audio_guide.png')
      &.image-cms
        background-image: url('../images/cms.png')
      &.image-opas
        background-image: url('../images/opas.png')

    .image2
      background-position: 50% 0
      background-repeat: no-repeat
      height: 100px
      margin-top: 30px
      width: 100%

      @media #{$small-only}
        margin-top: 20px

      &.image-record
        background-image: url('../images/record.png')
      &.image-publish
        background-image: url('../images/publish.png')
      &.image-announce
        background-image: url('../images/announce.png')

    .small-title
      color: #00aeef
      font-size: em-calc(24px)
      font-weight: normal
      letter-spacing: 0.07em
      margin-bottom: 25px
      margin-top: 15px
      text-align: center

    .text
      font-size: 16px
      line-height: 1.9em
      padding: 0 10px

  .footer-block
    .title
      @extend %large-font
      color: #fff
      margin-top: 60px
      margin-bottom: 80px
      text-align: center

      @media #{$small-only}
        margin-top: 30px
        margin-bottom: 40px

      .bold
        font-weight: normal

      a
        color: #fff
        text-decoration: none

        &:hover
          text-decoration: underline
